<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "76759ec0-45ab-41bb-b099-677d6dd8a79f", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

<div class="sapphire-general">
   <div>
		<%
		if (bcrum) {
		%>
			<ul class="breadcrumb">
		<%
			for(var x in bcrum) {
			  var css = '';
			  if (x==bcrum.length-1) {
				css = 'active';
			  }
		%>
			<li class="<%= css %>"><%- bcrum[x] %>
			<%
				if (css=='') {
			%>
				<span class="divider">|</span>
			<%
				}
			%>
			</li>
		<%
			}
		%>
			</ul>
		<%
		}
		%>


		<%
			if (productdata) {

				var pimage = '';
				var givemargin = 0;
				if (productdata.productimage) {
				    pimage = productdata.productimage;
				    pimage = pimage.split('#');
				}

		%>
				<div class="thumbnail" layout="row" layout-padding>

					<div class="prodthumb" flex="50">
					<%
						if (pimage[0]) {
							var thumb = pimage[0].split('.');
							var thumb = thumb[0] + '.large.' + thumb[1];
					%>
						<img src="/media/<%= thumb %>" >
					<% } %>
						<%
							if (pimage[1] && 0) {
						%>
							<div class="proddiv">
								<%
								   pimage.length = 0;
								   for(var i=1; i< pimage.length; i++)
								   {
									if (pimage[0]) {
										var small = pimage[i].split('.');
										var small = small[0] + '.small.' + small[1];
								%>
									<img src="/media/<%= small %>" class="proddivimg">
									<% } %>
								<% } %>
							</div>
						<% } %>
					</div>
					<div class="prodbox" flex="50">
							<p><a href="#" class="prodname"><%- productdata.name %></a></p>
							<p class="prodinprice">$<%- productdata.price.toPrecision(5) %></p>
							<p>
									<span class='st_sharethis_large' displayText='ShareThis'></span>
									<span class='st_facebook_large' displayText='Facebook'></span>
									<span class='st_twitter_large' displayText='Tweet'></span>
									<span class='st_linkedin_large' displayText='LinkedIn'></span>
									<span class='st_pinterest_large' displayText='Pinterest'></span>
									<span class='st_email_large' displayText='Email'></span>
							</p>

							<p><%- productdata.description %></p>
							<p class="prodaddto">
								<a href="/cart/add/<%= productdata.id %>" class="btn btn-primary">Add to Cart</a>
							</p>

					</div>

				</div>

		<%
			} else {
		%>
				<div style="text-align:center"><h4> No Products Found! </h4></div>
		<%      } %>

	</div>

</div>
