<div class="sapphire-general">
   <div>
		<%
		if (bcrum) {
		%>
			<ul class="breadcrumb">
		<%
			for(var x in bcrum) {
			  var css = '';
			  if (x==bcrum.length-1) {
				css = 'active';
			  }
		%>
			<li class="<%= css %>"><%- bcrum[x] %>
			<%
				if (css=='') {
			%>
				<span class="divider">|</span>
			<%
				}
			%>
			</li>
		<%
			}
		%>
			</ul>
		<%
		}
		%>


		<%
			var totalamount = 0;
			if (productlist) {
		%>
			<table cellspadding=0 cellsspacing=0 class="carttable">
			<tr>
				<th class="alert alert-info"></th>
				<th class="alert alert-info">Item</th>
				<th class="alert alert-info">Price</th>
				<th class="alert alert-info">Qty</th>
				<th class="alert alert-info">Update</th>
				<th class="alert alert-info">Remove</th>
				<th class="alert alert-info">Total</th>
			</tr>
		<%
			  for(var x in productlist) {
				var pimage = '';
				var givemargin = 0;
				if (productlist[x].productimage) {
				    pimage = productlist[x].productimage;
				    pimage = pimage.split('#');
				}
		%>
			<tr>
				<td>
					<%
						if (pimage[0]) {
							var thumb = pimage[0].split('.');
							var thumb = thumb[0] + '.small.' + thumb[1];
					%>
						<img src="/media/<%= thumb %>" alt="#"/>
					<% } %>
				</td>
				<td><%= productlist[x].name %></td>
				<td>$<%= session.cartqty[productlist[x].id].price %></td>
				<td>

					<input id="pqty<%= productlist[x].id %>" type="text" size="5"
					max-length="5" value="<%= session.cartqty[productlist[x].id].qty %>" class="cartqty">
				<td>
					<a onclick="updatecart(<%= productlist[x].id %>)" class="btn">Update</a>
				</td>

				</td>
				<td><a href='/cart/remove/<%= productlist[x].id %>' class='btn'>Remove</a></td>
				<td class="paddright">
				   <span style="float:right">
				   <% var amt = (session.cartqty[productlist[x].id].price*session.cartqty[productlist[x].id].qty);
				      totalamount += amt;
				   %>
				   $<%= amt %></span>
				</td>
			</tr>

		<%

			  }
		%>
			<tr>
				<td colspan="6" class="total"><strong>Total</strong></td>
				<td class="paddright"><span style="float:right">$<%= totalamount %></span></td>
			</tr>
			 </table>
			 <div style="padding-top:8px">
			 <div class="pull-left"><a href='/clothes' class="btn btn-primary">Cotinue Purchasing</a></div>
			 <div class="pull-right checkout"><md-button ng-href="/checkout" class="md-raised md-theme">Checkout</md-button></div>
			 </div>
		<%
			} else {
		%>
				<div class="txtcenter"><h4> Sorry! Your Cart Is Empty <h4>
					<p><a href='/clothes' class="btn btn-primary">Cotinue Purchasing...</a></p>
				</div>
		<%      } %>

	</div>

</div>

<script>
function updatecart(pid) {
   var qty = jQuery("#pqty"+ pid).val();
   if (isNaN(qty)) {
	alert("quantity should be numeric only!");
	return false;
   }
   window.location = '/cart/update/' + pid + '/' + qty;
}
</script>
