<div class="subnav">
	<h2>Add/Edit Category</h2>
	<hr>
</div>

<form class="well form-horizontal" method="post" id="edit_post" action="/category/save">
	<div class="row">
		<div class="error"></div>
		<div class="leftdiv">
			<h3>Category</h3>					
		</div>
		<div class="span9">
			<input type="hidden" name='catid' value="<%= (blogcat.id)?blogcat.id:''%>">
			<fieldset>
			<div class="control-group">
				<label class='control-label'>Name</label>
				<div class="controls">
				 
				 <input type="text " class="required input-xlarge" name="name" value="<%= (blogcat.name)?blogcat.name:'' %>">
				</div>
				<label class='control-label'>Description</label>
				<div class="controls">
				<textarea type="text" class="span7 " name="description"><%= (blogcat.description)?blogcat.description:'' %></textarea>
				</div>
				<label class='control-label'>Is Active</label>
				<div class="controls">
				<select name="is_active">
					<option value="1" <%= (blogcat.is_active)?"selected":"" %>>Yes</option>
					<option value="0" <%= (!blogcat.is_active)?"selected":"" %>>No</option>
				</select>
				</div>
			</div>
			<div class="form-actions">
				<button class="btn btn-primary" type="submit">Save Changes</button>
			</div>
			</fieldset>
		</div>


	</div>
</form>

